<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>RsvpForm</title>
</head>
<body>
    <h1 style="display: flex; justify-content: center;">Это первое представление - MyIndex!</h1>
</body>
</html>

