<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>RsvpForm</title>
</head>
<body>
    <h1 style="display: flex; justify-content: center;">Это второе представление - Index0!</h1>
    <h1> Пользов. представление: @ViewBag.Index0 </h1>
    @Html.ActionLink("Вернуться обратно", "Index", "Home", new { area = "Area" }, null)
</body>
</html>